/**
BASE.SCSS
 */

// Global class
html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	font-family: var(--font-roboto);
	font-weight: 300;
	color: #212529;
	overflow-x: hidden;
}

// Reusable class
.container {
	margin: 0 auto;
	width: 100%;
	@include tablet {
		width: 90%;
	}
}

.steps .container, .restaurants .container {
	padding: 2.5rem 1.2rem;
}

.flex-center {
	@include flex-center;
}