.intro {
	background-color: #f6f6f6;
	flex-direction: column;
	padding: 2rem 1rem 2.5rem;
	text-align: center;
	&__title {
		font-size: 1.6rem;
		margin-bottom: .5rem;
	}
	&__subtitle {
		font-size: 1.2rem;
		color: #777;
		margin-bottom: 2rem;
	}
	&_btn {
	
	}
}