.main {
	background-color: #f6f6f6;
	border-radius: 3rem 3rem 0 0;
	min-height: 25rem;
	position: relative;
	width: 100%;
	@include sizeMenu {
		width: 90%;
	}
	margin: -4rem auto 0;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.2rem 2rem;
		& h1 {
			font-family: "Shrikhand", Arial, sans-serif;
			font-size: 1.6rem;
		}
	}
	&__content {
		padding: 1rem 0;
		@include sizeMenu {
			padding: 1rem 1rem;
		}
	}
	.menu {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		@include tablet {
			grid-template-columns: repeat(3, 1fr);
		}
		&__item {
			overflow: hidden;
			padding: 0 1rem;
		}
		&__title {
			font-size: 1.1rem;
			font-weight: 400;
			position: relative;
			&:after {
				content: "";
				background-color: var(--tertiary);
				height: 0.2rem;
				width: 2.8rem;
				position: absolute;
				left: 0;
				bottom: -0.4rem;
			}
		}
		&__content {
			background-color: #fff;
			border-radius: 1rem;
			box-shadow: var(--shadow);
			margin: 1.5rem 0;
			padding: .7rem 1rem;
			display: flex;
			overflow: hidden;
			opacity: 0;
			animation: fadeIn .7s ease-in-out forwards;
			&:hover {
				cursor: pointer;
			}
			&:hover > .menu__check {
				margin-right: -1rem;
			}
			&:hover .menu__icon {
				animation: rotate .4s ease-in-out forwards;
			}
		}
		&__text {
			flex: 1;
			line-height: 1.4;
			&, & h3, & p {
				@include text-ellipsis;
			}
			& h3 {
				font-size: 1.15rem;
			}
			& p {
				font-size: .9rem;
			}
		}
		&__price {
			display: flex;
			align-items: flex-end;
			font-weight: 500;
			margin: 0 1rem;
		}
		&__check {
			background-color: var(--tertiary);
			width: 4rem;
			margin: -0.7rem -5rem -0.7rem 0;
			transition: margin-right .35s ease-in-out;
			@include flex-center;
		}
		&__icon {
			background-color: #fff;
			border-radius: 50%;
			height: 1.4rem;
			width: 1.4rem;
			@include flex-center;
			& i {
				color: var(--tertiary);
				font-size: .85rem;
			}
		}
	}
	&__footer {
		display: flex;
		justify-content: center;
		padding: 1rem 0 5rem;
		& .btn {
			padding: 0 3rem;
		}
	}
	@for $i from 0 to 11 {
		.menu-#{$i} {
			animation-delay: #{$i / 10}s;
		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(-360deg);
	}
	to {
		transform: rotate(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(15%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}