.restaurants {
	background-color: #e8e8e8;
	&__list {
		margin-top: 1.3rem;
	}
	.cards {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		column-gap: 2rem;
		row-gap: 1rem;
		@include desktop {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 2rem;
		}
		&__link {
			display: flex;
			flex-direction: column;
			box-shadow: var(--shadow);
			border-radius: 1rem;
			position: relative;
			transition: box-shadow .2s ease-in-out;
			&:hover {
				box-shadow: var(--shadow-hover);
			}
			& img {
				display: flex;
				height: 10rem;
				width: 100%;
				object-fit: cover;
				border-radius: 1rem 1rem 0 0;
				@include desktop {
					height: 15rem;
				}
			}
			& figcaption {
				display: flex;
				align-items: center;
				background-color: #fff;
				border-radius: 0 0 1rem 1rem;
				padding: 1rem;
			}
		}
		&__content {
			line-height: 1.5;
			flex: 1;
		}
		&__badge {
			position: absolute;
			right: 0;
			background-color: var(--tertiary);
			border-radius: .2rem;
			padding: .5rem .8rem;
			margin: 1rem;
			font-size: .9rem;
			font-weight: 500;
			color: #48967b;
		}
	}
}